[Unit]
Description=Halter
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/opt/halter
ExecStart=/opt/halter/halter.sh

[Install]
WantedBy=multi-user.target
